
.custom-nav-1 {
    
    .btn-solid-lg {
        display: inline-block;
        padding: 1.625rem 2.625rem 1.625rem 2.625rem;
        border: 1px solid #0092ff;
        border-radius: 30px;
        background-color: #0092ff;
        color: #ffffff;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0;
        text-decoration: none;
        transition: all 0.2s;
    }
    
    .btn-solid-lg:hover {
        background-color: transparent;
        color: #0092ff; /* needs to stay here because of the color property of a tag */
        text-decoration: none;
    }
    
    .btn-solid-sm {
        display: inline-block;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border: 1px solid #0092ff;
        border-radius: 30px;
        background-color: #0092ff;
        color: #ffffff;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0;
        text-decoration: none;
        transition: all 0.2s;
    }
    
    .btn-solid-sm:hover {
        background-color: transparent;
        color: #0092ff; /* needs to stay here because of the color property of a tag */
        text-decoration: none;
    }
    
    .btn-outline-reg {
        display: inline-block;
        padding: 1.375rem 2.25rem 1.375rem 2.25rem;
        border: 1px solid #ef473d;
        border-radius: 30px;
        background-color: transparent;
        color: #ef473d;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0;
        text-decoration: none;
        transition: all 0.2s;
    }
    
    .btn-outline-reg:hover {
        background-color: #ef473d;
        color: #ffffff;
        text-decoration: none;
    }
    
    .btn-outline-lg {
        display: inline-block;
        padding: 1.625rem 2.625rem 1.625rem 2.625rem;
        border: 1px solid #ef473d;
        border-radius: 30px;
        background-color: transparent;
        color: #ef473d;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0;
        text-decoration: none;
        transition: all 0.2s;
    }
    
    .btn-outline-lg:hover {
        background-color: #ef473d;
        color: #ffffff;
        text-decoration: none;
    }
    
    .btn-outline-sm {
        display: inline-block;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border: 1px solid #ef473d;
        border-radius: 30px;
        background-color: transparent;
        color: #ef473d;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0;
        text-decoration: none;
        transition: all 0.2s;
    }
    
    .btn-outline-sm:hover {
        background-color: #ef473d;
        color: #ffffff;
        text-decoration: none;
    }
    
    
    
    
    /**********************/
    /*     Navigation     */
    /**********************/
    .navbar {
        background-color: #fcfafb;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0.875rem;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    }
    
    .navbar .navbar-brand {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    
    .navbar .logo-image img {
        width: 126px;
        height: 32px;
    }
    
    .navbar .logo-text {
        color: #223150;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1rem;
        text-decoration: none;
    }
    
    .offcanvas-collapse {
        position: fixed;
        top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #fcfafb;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    
    .navbar .navbar-nav {
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
    }
    
    .navbar .nav-item .nav-link {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        color: #5e6576;
        text-decoration: none;
        transition: all 0.2s ease;
    }
    
    .navbar .nav-item.dropdown.show .nav-link,
    .navbar .nav-item .nav-link:hover,
    .navbar .nav-item .nav-link.active {
        color: #0092ff;
    }
    
    /* Dropdown Menu */
    .navbar .dropdown .dropdown-menu {
        animation: fadeDropdown 0.2s; /* required for the fade animation */
    }
    
    @keyframes fadeDropdown {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    .navbar .dropdown-menu {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        border: none;
        background-color: #fcfafb;
    }
    
    .navbar .dropdown-item {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        color: #5e6576;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0.875rem;
        text-decoration: none;
    }
    
    .navbar .dropdown-item:hover {
        background-color: #fcfafb;
        color: #0092ff;
    }
    
    .navbar .dropdown-divider {
        width: 100%;
        height: 1px;
        margin: 0.5rem auto 0.5rem auto;
        border: none;
        background-color: #d1d1d1;
    }
    /* end of dropdown menu */
    
    .navbar .navbar-toggler {
        padding: 0;
        border: none;
        font-size: 1.25rem;
    }
    
    
    
    
    /*************************/
    /*     Media Queries     */
    /*************************/	
    /* Min-width 768px */
    @media (min-width: 768px) {
    
        
    }
    /* end of min-width 768px */
    
    
    /* Min-width 992px */
    @media (min-width: 992px) {
        
        /* Navigation */
        .navbar {
            padding-top: 1.75rem;
            background-color: #fcfafb;
            box-shadow: none;
            transition: all 0.2s;
        }
    
        .navbar.top-nav-collapse {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #fcfafb;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        }
    
        .offcanvas-collapse {
            position: static;
            top: auto;
            bottom: auto;
            left: auto;
            width: auto;
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            overflow-y: visible;
            visibility: visible;
        }
    
        .offcanvas-collapse.open {
            -webkit-transform: none;
            transform: none;
        }
    
        .navbar .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .navbar .nav-item .nav-link {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }
    
        .navbar .dropdown-menu {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
        }
    
        .navbar .dropdown-divider {
            width: 90%;
        }
    
        .navbar .nav-item .btn-solid-sm {
            margin-top: 0;
            margin-left: 1rem;
        }
        /* end of navigation */
    
        
    }
    /* end of min-width 992px */
    
    
    /* Min-width 1200px */
    @media (min-width: 1200px) {
        
        /* General Styles */
        .container {
            max-width: 1140px;
        }
        /* end of general styles */
        
    }
    
}



.custom-admin-1{

    $blue: #287bff;
    $white: #fff;
    $grey: #f5f5f5;
    $black1: #222;
    $black2: #999;

    $sidebarWidth: 300px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    min-height: 100vh;
    overflow-x: hidden;
    
    .custom-container-1 {

        position: relative;
        width: 100%;

        .navigation {
            position: fixed;
            width: $sidebarWidth;
            height: 100%;
            background: $blue;
            border-left: 10px solid $blue;
            transition: 0.5s;
            overflow: hidden;

            ul {
                 padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                li {
                    position: relative;
                    width: 200%;
                    width: 100%;
                    list-style: none;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;

                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        display: flex;
                        text-decoration: none;
                        color: $white;

                        .icon {
                            position: relative;
                            display: block;
                            min-width: 60px;
                            height: 60px;
                            line-height: 70px;
                            text-align: center;

                            ion-icon {
                                font-size: 1.75em;
                            }
                        }

                        .title {

                            position: relative;
                            display: block;
                            padding: 0 10px;
                            height: 60px;
                            line-height: 60px;
                            text-align: start;
                            white-space: nowrap;
                        }


                    }
                    

                }

                li.hovered, li:hover {
                    background: $white;

                    a {
                        color: $blue;
                    }

                    // curve outside
                    a::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: -50px;
                        width: 50px;
                        height: 50px;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 35px 35px 0 10px $white;
                        pointer-events: none;

                    }

                    a::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -50px;
                        width: 50px;
                        height: 50px;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 35px -35px 0 10px $white;
                        pointer-events: none;

                    }
                    
                }


                li:nth-child(1) {
                    margin-bottom: 40px;
                    pointer-events: none;
                }
            }
        }

        .navigation.active {
            width: 60px;
        }

        .main {
            position: absolute;
            width: calc(100% - $sidebarWidth);
            left: $sidebarWidth;
            min-height: 100vh;
            background: $white;
            transition: 0.5s;

            .topbar {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;

                .toggle {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.5em;
                    cursor: pointer;
                }

                .search {
                    position: relative;
                    width: 400px;
                    margin: 0 10px;

                    label {
                        position: relative;
                        width: 100%;

                        input {
                            width: 100%;
                            height: 40px;
                            border-radius: 40px;
                            padding: 5px 20px; 
                            padding-left: 35px; 
                            font-size: 18px;
                            outline: none;
                            border: 1px solid $black2;

                        }

                        ion-icon {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            font-size: 1.2em;
                        }
                    }
                }

                .user {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

            }
        }

    }

}
